/* Reset */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ol,
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ol:last-child,
ul:last-child {
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  border: none;

  display: block;
  cursor: pointer;
}

address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Container */
.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

/* Global */
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  line-height: 1.5;

  color: #434455;
  background-color: #ffffff;
}

.hero-section,
.anchor-section,
.author-section,
.ingredients-section,
.directions-section,
.tips-section,
.footer {
  padding-top: 100px;
  padding-bottom: 100px;
}

h2 {
  margin-bottom: 30px;
}

h3 {
  margin-bottom: 20px;
}

h1,
h2,
h3 {
  letter-spacing: 0.03em;
}

nav,
button {
  text-transform: capitalize;
}

/* Header */
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-nav-list {
  display: flex;
  align-items: center;
  gap: 50px;
}

.header-nav-list-item-link {
  display: block;
  padding: 20px 0;
}

/* Hero section */

/* Anchor section */

/* Author section */

/* Ingredients section */
.ingredients-section-table-product-row:nth-child(odd) {
  background-color: #03a9f4;
}

.ingredients-section-table-product-row:nth-child(even) {
  background-color: #ffeb3b;
}

/* Directions section */

/* Tips section */
.tips-section-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
}

.tips-section-list-item {
  display: block;
  width: calc((100% - 2 * 20px) / 3);
}

/* Footer */
.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-nav-list {
  display: flex;
  align-items: center;
  gap: 50px;
}

.footer-nav-list-item-link {
  display: block;
  padding: 20px 0;
}

.footer-social-list {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-shrink: 0;
}

.footer-social-list-item {
  display: block;
}
