/* Reset */

a {
  text-decoration: none;
  color: currentColor;
}

ol,
ul {
  list-style-type: none;
}

button {
  cursor: pointer;
  font-family: inherit;
}

address {
  font-style: normal;
}

/* Global */
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  line-height: 1.5;

  color: #434455;
  background-color: #ffffff;
}

h1,
h2,
h3 {
  letter-spacing: 0.03em;
}

nav {
  text-transform: capitalize;
}
